/* Chat Button */
.home-container {
    @apply flex
    min-h-screen bg-gradient-to-r from-purple-500 to-blue-500 w-full;
}

.chat-button {
    @apply bg-green-500 text-white rounded-full p-4 shadow-lg focus:outline-none
    m-5 h-16 w-16 fixed bottom-0 right-0;
}

.chat-button-icon {
    @apply w-8 h-8;
}

.dialogVisible {
    display: block;
}

.dialogInvisible {
    display: none;
}

.chat-window {
    transition: all 0.5s;
  }

